@mixin ifloat_bar() {
    position: absolute;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    
    display: none;
    flex-direction: column;
}

#float_source_panel {
    @include ifloat_bar;

    gap: 1em;

    padding: 1em;
    border-radius: 5px;
    width: 20em;

    section {
        display: flex;
        gap : 0.4em;
        
        input {
            flex: 1;
            min-width: 0;
        }
    }
}

#float_action_bar {
    @include ifloat_bar;
    gap: 0.2em;

    padding: 0.2em;
    border-radius: 5px;
    width: 5em;
    
    hr {
        padding: 0;
        margin: 0;
    }
}

#float_highlight_bar {
    @include ifloat_bar;
    gap: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    width: 5em;

    pointer-events:all;
}