@use '@src/assets/style/variable.scss' as v;

@mixin ifloat_bar() {
    position: absolute;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    
    display: none;
    flex-direction: column;
    pointer-events:all;
}

.floating-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
    pointer-events: none;
    z-index: 100;
}

#float_source_panel {
    @include ifloat_bar;

    gap: 1em;

    padding: 1em;
    border-radius: 5px;
    width: 20em;

    section {
        display: flex;
        gap : 0.4em;
        
        input {
            flex: 1;
            min-width: 0;
        }
    }
}

#float_action_bar {
    @include ifloat_bar;
    gap: 0.2em;

    padding: 0.2em;
    border-radius: 5px;
    width: 5em;
    
    hr {
        padding: 0;
        margin: 0;
    }
}

#float_highlight_bar {
    @include ifloat_bar;
    gap: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    width: 5em;
}

#float_select_bar {
    @include ifloat_bar;

    background-color: transparent;

    gap: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    width: 5em;
}

#float_translation_bar {
    @include ifloat_bar;
    background-color: v.$color_white;
    border: 1px solid v.$color_light_blue;

    gap: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    width: 90%;
    
    .language_header {
        display: flex;
        align-items: center;
        justify-content: center;
        .float_translation_bar_options {
            margin-left: auto;
            display: inline-flex;
            button {
                margin: 0em 0.1em;
                font-size: 0.7em;
            }
        }
    }

    .language_content {
        padding: 0.1em;
    }
}