@use '@src/assets/style/variable.scss' as v;

.slate-keyword {
    display: inline-block;
    background-color: v.$color_green_shallow;
}

.slate-validation {
    display: inline-block;
    background-color: v.$color_orange_shallow;
}
